.card-index {
  height: 300px;
}

.card-index-image {
  background-position: center;
  background-size: cover;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  h2 {
    color: white;
  }
}
